

body{
--blue: #4b5bef;
--pink: #e06af3;
--red: #ef4b4b;
--green: #03c088;
background: pink !important
}

.button {
background-color: var(--green);
padding: 1rem
}

.button-small{
padding: .5rem
}

span {
border-radius: 2px !important;
outline: 2px solid var(--blue) !important;
}